* {
  box-sizing: border-box;
}
body,
html {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

/* General */
.v-center {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

/* flex sections (left/right) */
.left,
.right {
  width: 50%;
  padding: 10px;
  min-width: 320px;
}

.left {
  position: relative;
}

/* Top Section*/
.section#top {
  background-image: url("./media/background-both.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  width: 100vw;
  min-height: 90vh;

  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
}

#mainTitle {
  width: 100%;
  max-width: 400px;

  position: relative;

  margin: 0 auto;
}

/* family & circles images */
#circles {
  width: 100%;
  max-width: 700px;

  margin-left: auto;
}

/* Hover areas + tooltip toggle */

.hoverArea .tooltip {
  opacity: 0;

  width: 100%;
  height: 100%;

  border-radius: 100%;
  padding: 10px;

  background: white;
  pointer-events: none;

  transition: opacity 0.5s ease;

  text-align: center;
}
.hoverArea.show .tooltip {
  opacity: 1;
}

.hoverArea {
  position: absolute;

  width: 30%;
  height: 28.3%;

  padding: 20px;

  border-radius: 100%;

  cursor: pointer;
}

.hoverArea[data-id="1"] {
  top: 0.3%;
  left: 31%;
}
.hoverArea[data-id="2"] {
  right: 0.3%;
  top: 10.5%;
}
.hoverArea[data-id="3"] {
  left: 39.3%;
  bottom: 35.2%;
}

#banner {
  width: 100%;
  height: 100px;

  align-self: flex-end;

  background-color: #efcc8c;
}

/* Bottom Section */
.section#bottom {
  /* todo */
}
