.container {
			position: relative;
		}
		#divSectionTop {
			width: 1994px;
			height: 997px;
			overflow: hidden;
		}
		#divTopBanner {
			position: absolute;
			top: 49%;
			left: 0px;
			width: 96.5%;
			height: 10%;
			background-color: #FFDD88;
			z-index: 3;
		}
		#divTriGroup {
			position: absolute;
			top: 10%;
			left: 16%;
			max-width: 25%;
			height: auto;
			z-index: 3;
		}
		
		#imgBackground {
			position: absolute;
			top: 0px;
			left: 0px;
			margin-left: -18px;
			margin-top: -18px;
			max-width: 100%;
			height: auto;
			z-index: 1;
		}
		#imgSpaceAccent {
			position: absolute;
			top: 0px;
			left: 0px;
			max-width: 96.5%;
			height: auto;
			z-index: 2;
		}
		#imgFamily {
			position: absolute;
			vertical-align: bottom;
			top: 24%;
			left: 1%;
			max-width: 25%;
			height: auto;
			z-index: 4;
		}
		#imgTriGroup {
			position: absolute;
			top: 10%;
			left: 16%;
			max-width: 25%;
			height: auto;
			z-index: 3;
		}